* {
    font-family: "Exo 2", sans-serif;
}

body {
    margin: 0px;
    background-color: aliceblue;
}

.container {
    width: 1000px;
    height: auto;
    margin: 10px auto;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.search-holder form > input[type="search"] {
    border: 1px solid gainsboro;
    padding: 10px;
}

.search-holder form > button[type="submit"] {
    background-color: black;
    color: white;
    padding: 11px;
    border: 0px;
    margin-left: -5px;
}

.main-menu {
    background-color: black;
    color: white;
}

.main-menu > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: start;
}

.main-menu > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.main-menu > ul > li > a:hover {
    background-color: yellow;
    color: black;
}

.drop {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    position: absolute;
    display: none;
}

.drop > li > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color: teal;
    display: inline-block;
    width: 100%;
}

.main-menu > ul > li:hover .drop {
    display: block;
    z-index: 5;
}

.drop > li > a:hover {
    background-color: orange;
}


.lSPager {
    margin-top: -25px !important;
}

.content-holder {
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    border-bottom: 1px solid gainsboro;
}

.content-holder .content {
    padding: 25px;
    background-color: white;
    width: 80%;
}

.content-holder .content h1 ~ h2 {
    font-size: 1em;
    color: darkgray;
}

.sidebar {
    padding: 25px;
    width: 20%;
}

.sidebar .widget h3 {
    color: white;
}

.sidebar .widget ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.sidebar .widget ul > li > a {
    color: white;
    text-decoration: none;
}

.sidebar .widget ul > li > a:hover {
    color: black;
}